<h2>My Books</h2>
<ul class="books">
  <li *ngFor="let book of books"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)">
    <span class="badge">{{book.author}}</span> {{book.title}}
  </li>
</ul>

<div *ngIf="selectedBook">

  <h2>{{selectedBook.name | uppercase}} Details</h2>
  <div><span>isbn: </span>{{selectedBook.isbn}}</div>
  <div>
    <label>Title:
       <input [(ngModel)]="selectedBook.title" placeholder="title"/>
    </label>
    <label>Author:
      <input [(ngModel)]="selectedBook.author" placeholder="author"/>
    </label>
  </div>
</div>
